*,
::before,
::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {

}
header, footer {
  height: 50px;
  background-color: gray;
}

.backgroundColor {
  color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 700px;
  height: 800px;
  color: hsl(0, 0%, 100%);
  overflow: hidden;
  box-shadow: 0 15px 30px 1px grey;
  border-radius: 5px;
  margin-bottom: 25px;
  background-color: blue;



}

.image-container {




}

picture {

 /* display: none;*/
}

.product-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.category {

  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: hsl(228, 12%, 48%);

}

.title {

  font-family: "Fraunces", serif;
  font-size: 28px;
  font-weight: 700;
  color: hsl(212, 21%, 14%);

}
.description {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
}



.DiscPrice {
  font-family: "Fraunces", serif;
  font-size: 28px;
  font-weight: 700;
  color: hsl(158, 36%, 37%);


}
.StrikPrice {
  font-family: "Fraunces", serif;
  color: hsl(228, 12%, 48%);


}
.cart-icon {


}

.btn {

    border: 0;
    padding: 10px 25px;
    font-size: 1rem;
    display: inline-block;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: hsl(158, 36%, 37%);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}


.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}



@media screen and (max-width :600px)
{
  .container
  {
    display: flex;
    flex-direction: column;
    border: #000;
  }

  .image-container {
  display: flex;

}
  .container .description
  {
    /*margin-bottom: 25px;*/
  }
}