*,
::before,
::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header, footer {
  height: 50px;
  background-color: hsl(30, 38%, 92%);
}

.backgroundColor {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.container {
  width: fit-content;
  height: 450px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 15px 30px 1px grey;
  border-radius: 5px;
  justify-content: center;
  align-content: center;
}

.image-container {
  width: 375px;
  height: 100%;
  float: left;
}

.text-container 
{
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 20px 20px 20px 20px;
}

.product-img {
  height: 100%;
  width: 100%;
  object-fit:cover;
  border-radius: 5px 0 0 5px;
}

.product-img-mob
{
  display: none;
}

.category {
  justify-content: center;
  line-height: 2em;
  letter-spacing: .5em;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  padding-bottom: 20px;

}

.title {
  font-family: "Fraunces", serif;
  font-size: 28px;
  line-height: 1.3em;
  font-weight: 700;
  color: hsl(212, 21%, 14%);
  padding-bottom: 20px;
}

.description {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;  
  line-height: 1.5em;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  padding-bottom: 20px;
}

.price {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Fraunces", serif;
  padding: 10px 0 10px 0;
}

.DiscPrice {
  font-size: 28px;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
}

.StrikPrice {
  font-size: 14px;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
}

.cart{
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Fraunces", serif;
  font-weight: 700;
  padding: 30px 0 0 0; ;
}

.btn 
{
  position: absolute;
  border: 0;
  padding: 10px 25px;
  width: 200px;
  font-size: 1em;
  display: inline-block;
  color: #fff;
  border-radius: 10px;
  background-image: url("/images/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 20% 50%;
  background-color: hsl(158, 36%, 37%);

}


.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}



@media screen and (max-width :750px)
{
  .container
  {
    width: 375px;
    height: fit-content;
    flex-direction: column;
    padding-bottom: 30px;

  }

  .product-img-mob
  {
    
    display: flex;
    height: 100%;
    width: 100%;
    object-fit:cover;
    border-radius: 5px 5px 0 0px;

  }

  .product-img
  {
    display: none;
  }

  .text-container{
      width: 375px;
  }
  .btn 
{
  width: 255px;
}
}